<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン画面 </title>
</head>
<body>
    <h1>ログイン</h1>
    <ul>ようこそ！</ul>
    <p>登録したメールアドレスを入力してください</p>


    <form action="/login" method="post">
        <input type="email" name="email" placeholder="メールアドレス"required>
        <input type="password" name="password" placeholder="パスワード"required>
        <button type="submit">ログイン</button>
    </form>

    {% if error %}
        <p style="color: red";>エラー:{{error}}</p>
    {% endif %}


    <p><a href="/register">登録画面へ進む</a></p>
    <p><a href="/">商品一覧に戻る</a></p>
</body>
</html>